name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          # renovate: datasource=java-version depName=java-jdk
          java-version: "21.0.3+9.0.LTS"
          distribution: "temurin"
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Generate Java sources from XSD files
        run: ./gradlew generateSources
      - name: Build with Gradle
        run: ./gradlew build
