name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          # renovate: datasource=java-version depName=java-jdk
          java-version: "21.0.2+13.0.LTS"
          distribution: "temurin"
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2
      - name: Generate Java sources from XSD files
        run: ./gradlew generateSources
      - name: Build with Gradle
        run: ./gradlew build
